<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <instrumentation android:name="io.hoenn.sessions.DeviceSmoke" android:targetPackage="io.hoenn.sessions" android:label="Private device smoke"/>
    <instrumentation android:name="io.hoenn.sessions.GamePilot" android:targetPackage="io.hoenn.sessions" android:label="Explicit gameplay pilot"/>
    <instrumentation android:name="io.hoenn.sessions.ControllerSmoke" android:targetPackage="io.hoenn.sessions" android:label="Controller settings integration"/>
</manifest>
